<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>つぶやき一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="home-bg">
    <div class="row">
      <div class="col-md-4 top-col head-t">
        <p>「つぶやく」は日常のちょっとしたことを友達と共有して楽しむアプリケーションです。<br class="d-none d-md-block">
        <br class="d-none d-md-block">
        画像と短文を投稿して遊んでみましょう</p>
        <%= link_to "さっそく使う", signup_path, class: "btn btn-home" %>
      </div>
      <div class="col-md-8 top-col">
        <%= link_to image_tag("inu.jpg", alt: "", class: "top-img") %>
      </div>
      <div class="col-md-4 top-col head-t">
        食べ物の画像を共有するのもアリ
      </div>
      <div class="col-md-8 top-col">
        <%= link_to image_tag("cake.jpg", alt: "", class: "top-img") %>
      </div>
      <div class="col-md-4 top-col head-t">
        メディアに報道されないようなローカルスポーツの速報にも使えます。
      </div>
      <div class="col-md-8 top-col">
        <%= link_to image_tag("shioko.jpg", alt: "", class: "top-img") %>
      </div>
    </div>
    
<% end %>
  </div>
  

  <%#= link_to image_tag("uyuni.jpg", alt: "Rails logo", class: "top-img"),
              #'http://rubyonrails.org/' %>

    